html,
body,
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}
button {
  background-color: rgb(11, 3, 80);
  border: 5px solid rgb(41, 37, 41);
  color: white;
  margin: 0 0.5em;
  padding: 1em;
  outline: none;
}
button:hover {
  background-color: #722de0;
}
button:active {
  background-color: rgb(126, 236, 104);
}
.Counters {
  display: flex;
}
.Counter {
  border: 5px solid rgb(65, 4, 65);
  font-weight: 700;
  margin: 2em auto;
  padding: 2em;
  width: 400px;
}
.count {
  font-size: 8em;
  text-align: center;
}
.controls {
  display: flex;
  justify-content: center;
}
